{% extends 'base.html' %}

<!-- Wrap everything you want to be used in the base.html file with 'block content' -->
{% block content %}

<!-- Only show the login if the user has not logged in alread -->

{% if user.is_authenticated %}

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Date Created</th>
      <th scope="col">Record Date</th>
      <th scope="col">Cash Sale</th>
      <th scope="col">NMS</th>
      <th scope="col">NMS Earning</th>
      <th scope="col">Flu Vaccinations</th>
      <th scope="col">Flu Vaccination Earnings</th>
      <th scope="col">Covid Vaccinations</th>
      <th scope="col">Covid Vaccination Earnings</th>
    </tr>
  </thead>
  <tbody>
{% if records %}
  {% for record in records %}
  <tr>
    <td>{{ record.created_at }}</td>
    <td><a href= "{% url 'record' record.id %}">{{ record.earning_date }}</a></td>
    <td>{{ record.cash_sale }}</td>
    <td>{{ record.NMS_num }}</td>
    <td>{{ record.NMS_earning }}</td>
    <td>{{ record.flu_vacc_num }}</td>
    <td>{{ record.flu_earning }}</td>
    <td>{{ record.covid_vacc_num }}</td>
    <td>{{ record.covid_earning }}</td>
  </tr>
  {% endfor %}
{% endif %}
  </tbody>
</table>

{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>
<!-- Anytime someone fills the form and submits it, webpage posts that to the server -->
<form method="POST" action="{% url 'home' %}">
    <!-- Need csrf (cross-site forgery token) tag when creating forms with django; helps form from getting hijacked by hackers-->
    {% csrf_token %}
      <div class="mb-3">
        <input type="text" class="form-control" name="username", placeholder="Username" required>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" name="password", placeholder="Password" required>
      </div>
      <br/>
      <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>

{% endif %}
{% endblock %}